* {
  --header-desktop-size: 48px;
  --content-desktop-header: 40px;
  --secondary-header-size: 24px;
  --content-mobile-header: 32px;
  --content-undertext: 18px;
  --header-mobile-size: 36px;
  --primary-text-size: 17px;
  --secondary-text-color: rgba(78, 93, 124, 0.5);
  --undertext-text-color: rgba(255, 255, 255, 0.8);
  --undertext-secondary-text-color: rgba(255, 255, 255, 0.5);
  --common-text-size: 24px;
  --common-secondary-text-size: 18px;
  --active-color: #357efe;
  --default-color: #fff;
}

body {
  box-sizing: border-box;
  font-family: Inter;
  margin: 0;
  min-width: 470px;
}

div,
h2,
h3,
p,
ul {
  margin: 0;
}
