body {
    background: linear-gradient(243deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0.00) 100%), linear-gradient(243deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0.00) 82.03%), #F39494;
}

main {
    border-radius: 10px;
    background: #FFFEFE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 {
    color: #333;
    font-family: "Open Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p > span {
    color: #666;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p > a {
    color: #089FE0;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
}

input::placeholder {
    color: #999;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

button {
    border-radius: 5px;
    background: #089FE0;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label {
    color: #666;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label > a {
    color: #089FE0;
}
