* {
    color: #FFFFFF;
}

body {
    box-sizing: border-box;
    font-family: Roboto;
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
}

div > a, li > a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

header {
    display: flex;
    margin: 0 auto;
    padding: 80px 0px;
    align-items: center;
    max-width: 1440px;
    justify-items: flex-start;
}

header > div {
    display: flex;
    margin: 0 auto;
    gap: 77px;
    align-items: center;
    justify-items: flex-start;
    padding-right: 346px;
}

ul {
    display: flex;
    gap: 52px;
    list-style-type: none;
}

input {
    background: #1F293799;
    width: 224px;
    height: 40px;
}

input::placeholder {
    color: #FFFFFF;
    opacity: 0.6;
    padding-left: 49px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h1 {
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 158.333% */
    margin: 0 auto;
    padding-bottom: 30px;
}

img {
    max-width: 80vw;
    max-height: 80vh;
}

.heroImg {
    margin: 0 auto;
    padding-bottom: 69px;
}

figure {
    margin: 0 auto;
    display: flex;
    gap: 16px;
    padding-bottom: 30px;
}

figure > img {
    border-radius: 50px;
}

footer {
    opacity: 0.6;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    padding-bottom: 77px;
}

.tagDate {
    opacity: 0.6;
    margin: 0 auto;
    padding-bottom: 20px;
}

input#search {
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
}

.firstName {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.jobTitle {
    opacity: 0.6;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
}

.tagDate > img {
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.60);
}

.mainText {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.secondaryText {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.secondaryText a {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.lastText {
    padding-bottom: 103px;
}

main > div {
    margin-bottom: 69px;
}

main {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#search {
    height: 40px;
    border-radius: 100px;
    padding: 0 10px;
}

p {
    max-width: 700px;
    margin: 0 auto;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 30px;
}